

@media only screen and (min-width: 600px) {
  .sizechart {
    height: 260px;

  }
}


@media only screen and (max-width: 600px) {
  .sizechart {
    height: 220px;

  }
}




@media only screen and (min-width: 600px) {
  .sizechartchartstats {
    height: 420px;

  }
}



@media only screen and (max-width: 600px) {
  .sizechartchartstats {
    height: 215px;

  }
}


/* วงกลม */
#circle {

    width: 12px; /* ความกว้าง */

    height: 12px; /* ความสูง */

    background: red; /* สี */

    -moz-border-radius: 70px;

    -webkit-border-radius: 70px;

    border-radius: 70px;

}

/* Animation   วงกลม กระพริบ*/
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
  }


