
.scorllerbar {
    height:45vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 1600px) {
.box-monitor{
    height:550px;
}
.box-notifaction{
    height: 280px;
  }
  .box-notificaionall-high{
    height: 220px;
 }
 .hid-text{
         display: none;
 }
 .text-menubar{
    margin-left: 30px;
    font-size:16px;
 }
 .size-notification{
    font-size:18px;
 }


}
@media only screen and (min-width: 1900px) {

    .box-monitor{
        height:650px;

    }
    .box-notifaction{
        height: 320px;
      }
     .list-inside-magintop{
         margin-top: 30px;
     }
     .box-notificaionall-high{
        height: 240px;
     }
     .text-menubar{
        margin-left: 30px;
        font-size:20px;
     }
     .size-notification{
        font-size:20px;
     }


}
