  .very-specific-design {
    width: 1000px;
    height: 700px;
    position: relative;
    left: 50%;
    top: 10%;
    -webkit-transform: translate3d(-50%, 0,0);
            transform: translate3d(-10%, 0,0);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }

